@font-face {
  font-family: "Retro";
  src: url(retro.ttf);
}

h1 {
  font-family: "Retro";
  font-size: 82px;
  color: white;
  text-align: center;
}

body {
  background-color: black;
  text-align: center;
}
 img.resize {
   max-width: 40%;
   max-height: 40%;
 }
